<div class="body">
  <app-card>
    <span class="heading">MY BLOGS</span>
    <!-- <button (click)="get()"> GET</button> -->
  </app-card>

  <app-card *ngFor="let blog of myBlogs">
    <div class="blogHead">
      <div class="title">
        {{ blog.title }}
        <div appTooltip="{{blog.author}}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            height="30"
          >
            <circle cx="12" cy="12" r="10" fill="none" stroke="#000" />
            <line
              x1="12"
              y1="15.5"
              x2="12"
              y2="10.5"
              fill="none"
              stroke="#000"
            />
            <line x1="12" y1="8" x2="12" y2="9" fill="none" stroke="#000" />
          </svg>
        </div>
      </div>
      <div class="buttons">
        <button class="btn" (click)="view(blog.id)">View</button>
        <button class="btn" (click)="editBlog(blog.id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteBlog(blog.id)">
          Delete
        </button>
      </div>
    </div>
    <span class="description">
      {{ blog.description }}
    </span>
    <br />
    <div class="content">
      {{ blog.content }}
    </div>
  </app-card>
</div>
