.body {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 3rem;
  gap: 2rem;
  .heading {
    font-size: 2rem;
    font-weight: bold;
  }
  &::-webkit-scrollbar {
    width: 0px;
  }
}
.blogHead {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title{
    display: flex;
    gap: 1rem;
    position: relative;
  }
  .buttons {
    display: flex;
    padding: 0 1rem;
    .btn {
      background: none;
      border: none;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      padding: 0.5rem 1rem;
    }
    .btn-danger {
      color: red;
    }
  }
}
.description {
  font-size: 1.2rem;
  opacity: 0.8;
  line-height: 1.5;
}
.content{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  padding: 1rem;
  border: 1px solid #000000;
}
