.btn {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border: 1px solid black;
    &:hover {
        background-color: white;
        color: black;
    }
    &:disabled {
        background-color: gray;
        color: white;
        border: 1px solid gray;
        cursor: not-allowed;
        &:hover {
            background-color: gray;
            color: white;
        }
    }
}
.primary {
    background-color: black;
    color: white;
    border: 1px solid black;
    &:hover {
        background-color: white;
        color: black;
    }
}
.secondary {
    background-color: white;
    color: black;
    border: 1px solid black;
    &:hover {
        border: 1px solid white;
        background-color: black;
        color: white;

    }
}