<div class="body">
  <app-card >
    <span class="heading">{{blog.title}}</span>
    <br/>
    <span class="description">{{blog.description}} </span>
  </app-card>
  <app-card >
    <span class="description">
    {{
      blog.content
    }}
    </span>
  </app-card>
</div>
