.body {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 3rem;
  gap: 2rem;
  .heading {
    font-size: 2rem;
    font-weight: bold;
  }
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.description {
  font-size: 1.2rem;
  opacity: 0.8;
  line-height: 1.5;
}