<div class="login-card">
  <h1>Login</h1>
  <button (click)="add()" class="hide">
    Add
  </button>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
    <div class="input_container">
      <input type="text" placeholder="Username" formControlName="username" />
    </div>
    <div class="input_container">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <app-custom-button
      type="submit"
      btnClass="primary"
      class="btn-2"
      [disabled]="loginForm.invalid"
    >
      SUBMIT
    </app-custom-button>
  </form>
</div>
