.login-card {
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  height: 60%;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.form{
  width: 100%;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.btn-2 {
  width: 100%;
}

input {
  font-weight: bold;
  color: black;
  font-size: 16px;
  flex-grow: 1;
  padding: 1.2rem;
  border-radius: 2rem;
  text-align: center;
}

input::placeholder {
  font-weight: lighter;
  color: gray;
  font-weight: bold;
}

.input_label {
  padding: 0 1rem;
  font-weight: bold;
  display: block;
  color: black;
}

.input_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  width: 100%;
  gap: 0.5rem;
}

.hide {
  position: absolute; /* Position the button */
  top: 0;
  left: 0;
  opacity: 0; /* Initially hide the button */
  transition: opacity 0.3s ease; 
  &:hover{
    opacity: 1;
  }
}