.body {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  .heading {
    font-size: 2rem;
    font-weight: bold;
  }
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .input_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .label {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0 1rem;
    }
    input {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      height: 25px;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .description {
      padding: 0.5rem;
      height: 100px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1.2rem;
      font-weight: bold;
      opacity: 0.8;
    }
    .content {
      padding: 0.5rem;
      height: 400px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1.2rem;
      font-weight: bold;
      opacity: 0.8;
    }
  }
}

