<div class="body">
  <app-card>
    <div class="header">
      <div class="heading">CREATE BLOG</div>
      <app-custom-button
        btnClass="primary"
        (clickEvent)="onSaveBlog()"
        [disabled]="blogForm.invalid"
      >
        Save
      </app-custom-button>
    </div>
  </app-card>
  <form [formGroup]="blogForm" class="form">
    <div class="input_container">
      <div class="label">Blog Title</div>
      <input
        type="text"
        class="input"
        formControlName="title"
        placeholder="Enter Title"
      />
    </div>
    <div class="input_container">
      <div class="label">Blog Description</div>
      <textarea
        class="description"
        formControlName="description"
        placeholder="Enter Description"
      >
      </textarea>
    </div>
    <div class="input_container">
      <div class="label">Blog Content</div>
      <textarea
        class="content"
        formControlName="content"
        placeholder="Enter Blog Content(Min length 100 characters)"
      >
      </textarea>
    </div>
  </form>
</div>
