<div class="body">
  <app-card>
    <span class="heading">MANAGE USERS</span>
    <!-- <button (click)="get()"> GET</button> -->
  </app-card>
  <app-card>
    <div class="form">
      <div class="input_container">
        <div class="label">Username</div>
        <input
          type="text"
          class="input"
          [(ngModel)]="username"
          placeholder="Enter username"
        />
      </div>
      <div class="input_container">
        <div class="label">Password</div>
        <input
          type="password"
          class="input"
          [(ngModel)]="password"
          placeholder="Enter username"
        />
      </div>
      <div class="input_container">
        <div class="label">Role</div>

        <select>
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>
      </div>
      <app-custom-button btnClass="secondary" (clickEvent)="addUser()">
        ADD
      </app-custom-button>
    </div>
  </app-card>

  <app-card>
    <table class="userTable">
      <thead>
        <tr>
          <th >Username</th>
          <th>Role</th>
          <th>Total Blogs</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users">
          <td class="label">{{ u.username }}</td>
          <td>{{ u.role | uppercase }}</td>
          <td>{{ u.totalBlogs }}</td>
          <td>
            <!-- <button class="btn" (click)="editBlog()">Edit</button> -->
            <button class="btn btn-danger" (click)="deleteUser(u.username)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </app-card>
</div>
