.body {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 3rem;
  gap: 2rem;
  .heading {
    font-size: 2rem;
    font-weight: bold;
  }
  &::-webkit-scrollbar {
    width: 0px;
  }
}
.form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.userCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.label {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 1rem;
}
.input_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  select {
    padding: 0.5rem;
    width: 150px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: white;
  }
}
.btn {
  background: none;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
.btn-danger {
  color: red;
}

.userTable {
  width: 100%;
  border-collapse: collapse;
}

.userTable th,
.userTable td {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.userTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.userTable td .btn:not(:disabled):active {
  transform: translateY(1px);
}

.label:first-child {
  font-weight: bold;
}
