:host {
  width: 15%;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 250px;
  background-color: black;
  padding: 0 3rem;
  justify-content: space-between;

}

.top {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.btn {
  width: 100%;
  margin-top: 3rem;
  .head {
    font-weight: bold;
    font-size: 1.7rem;
  }
}

.option {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: black;
  }
  
}
.option.logout {
  margin-bottom: 3rem;
  
}

.selectedOption {
  border-bottom: 4px solid white;
}
