<div class="top">
  <app-custom-button
    class="btn"
    btnClass="secondary"
    (clickEvent)="redirectToCreateBlog()"
  >
    <span class="head"> Create Blog</span>
  </app-custom-button>

  <div *ngFor="let item of sidebarOptions">
    <div
      class="option"
      routerLink="{{ item.link }}"
      routerLinkActive="selectedOption"
    >
      {{ item.name }}
    </div>
  </div>
</div>
<div class="option logout" (click)="logout()">Logout</div>
